$col-width: 16.66%
$std-margin: 12px 0 12px 0
$dark-black: #0c0c0c
$light-black: #1c1c1c
$white: #e7e7e7
$grey: #b6b6b6
$dark-grey: #303030

*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-size: 16px

body
  background-color: $white

h6
  font-size: 1rem

h5
  font-size: 1.25rem

h4
  font-size: 1.5rem

h3
  font-size: 1.75rem

h2
  font-size: 2rem

h1
  font-size: 2.5rem

p
  font-size: 1rem

footer
  margin-top: 2rem

.banner
  width: 100%
  height: 25vh
  background-color: $dark-grey
  color: $white

.text-center
  text-align: center

.text-justify
  text-align: justify

.v-center
  position: relative
  top: 50%
  transform: translateY(-50%)

.container
  margin: auto
  word-wrap: break-word
  display: table
  // large screen
  @media only screen and (min-width: 800px)
    width: 75%
  // not a large screen
  @media only screen and (max-width: 799px)
    width: 90%

.portfolio
  list-style: none
  display: table
  li
    // large screen
    @media only screen and (min-width: 800px)
      float: left
      min-height: 1px
      padding: 0 6px 0 6px
      width: 2 * $col-width
    // medium screen
    @media only screen and (min-width: 480px) and (max-width: 800px)
      float: left
      min-height: 1px
      padding: 0 6px 0 6px
      width: 3 * $col-width
    // small screen
    @media only screen and (max-width: 480px)
      float: left
      min-height: 1px
      padding: 0 6px 0 6px
      width: 6 * $col-width

.row
  width: 100%
  display: block
  /* dont allow row content to wrap into other rows */
  &:before, &:after
    content: ""
    display: table
    clear: both
  /**************************************************/

.col
  float: left
  min-height: 1px
  padding: 0 6px 0 6px

.col-6
  @extend .col
  width: 6 * $col-width

.col-5
  @extend .col
  width: 5 * $col-width

.col-4
  @extend .col
  width: 4 * $col-width

.col-3
  @extend .col
  width: 3 * $col-width

.col-2
  @extend .col
  width: 2 * $col-width

.col-1
  @extend .col
  width: $col-width

.navbar
  min-height: 3rem
  width: 100%
  z-index: 100
  background-color: $dark-black
  overflow: hidden
  a
    font-size: 1rem
    display: inline-block
    color: $white
    text-align: center
    padding: 1rem 1rem
    text-decoration: none
    &:hover
      color: $grey
  button
    font-size: 1rem
    display: inline-block
    color: $white
    background-color: inherit
    text-align: center
    padding: 1rem 1rem
    border: 0
    &:hover
      background-color: $grey
    &:focus
      outline: none
