* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Calibri"; }

body {
  background-color: #e7e7e7; }

h6 {
  font-size: 1rem; }

h5 {
  font-size: 1.25rem; }

h4 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.75rem; }

h2 {
  font-size: 2rem; }

h1 {
  font-size: 2.5rem; }

p {
  font-size: 1rem; }

ul.navbar {
  min-height: 3rem;
  width: 100%;
  z-index: 100;
  background-color: #0c0c0c;
  overflow: hidden; }
  ul.navbar li a {
    font-size: 1rem;
    display: inline-block;
    color: #e7e7e7;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none; }
    ul.navbar li a:hover {
      background-color: #1c1c1c; }
    ul.navbar li a:focus {
      background-color: #1c1c1c; }
  ul.navbar li button {
    font-size: 1rem;
    display: inline-block;
    color: #e7e7e7;
    background-color: inherit;
    text-align: center;
    padding: 1rem 1rem;
    border: 0; }
    ul.navbar li button:hover {
      background-color: #1c1c1c; }
    ul.navbar li button:focus {
      outline: none;
      background-color: #1c1c1c; }

.banner {
  width: 100%;
  height: 25vh;
  background-color: #1c1c1c;
  color: #e7e7e7; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.container {
  margin: auto;
  word-wrap: break-word;
  display: table; }
  @media only screen and (min-width: 1280px) {
    .container {
      width: 80%; } }
  @media only screen and (min-width: 628px) and (max-width: 1279px) {
    .container {
      width: 85%; } }
  @media only screen and (max-width: 627px) {
    .container {
      width: 90%; } }

/*.portfolio
 * list-style: none
 * display: table
 * li
 *   // large screen
 *   @media only screen and (min-width: 1280px)
 *     float: left
 *     min-height: 1px
 *     padding: $std-padding
 *     width: 2 * $col-width
 *   // medium screen
 *   @media only screen and (min-width: 628px) and (max-width: 1279px)
 *     float: left
 *     min-height: 1px
 *     padding: $std-padding
 *     width: 3 * $col-width
 *   // small screen
 *   @media only screen and (max-width: 627px)
 *     float: left
 *     min-height: 1px
 *     padding: $std-padding
 *     width: 6 * $col-width */
.row {
  width: 100%;
  display: block;
  /* dont allow row content to wrap into other rows */
  /************************************************* */ }
  .row:before, .row:after {
    content: "";
    display: table;
    clear: both; }

.col, .col-s-6, .col-s-5, .col-s-4, .col-s-3, .col-s-2, .col-s-1, .col-m-6, .col-m-5, .col-m-4, .col-m-3, .col-m-2, .col-m-1, .col-l-6, .col-l-5, .col-l-4, .col-l-3, .col-l-2, .col-l-1 {
  float: left;
  min-height: 1px;
  padding: 6px 12px; }

.col-s-6 {
  width: 99.96%; }

.col-s-5 {
  width: 83.3%; }

.col-s-4 {
  width: 66.64%; }

.col-s-3 {
  width: 49.98%; }

.col-s-2 {
  width: 33.32%; }

.col-s-1 {
  width: 16.66%; }

@media only screen and (min-width: 628px) {
  .col-m-6 {
    width: 99.96%; } }

@media only screen and (min-width: 628px) {
  .col-m-5 {
    width: 83.3%; } }

@media only screen and (min-width: 628px) {
  .col-m-4 {
    width: 66.64%; } }

@media only screen and (min-width: 628px) {
  .col-m-3 {
    width: 49.98%; } }

@media only screen and (min-width: 628px) {
  .col-m-2 {
    width: 33.32%; } }

@media only screen and (min-width: 628px) {
  .col-m-1 {
    width: 16.66%; } }

@media only screen and (min-width: 1280px) {
  .col-l-6 {
    width: 99.96%; } }

@media only screen and (min-width: 1280px) {
  .col-l-5 {
    width: 83.3%; } }

@media only screen and (min-width: 1280px) {
  .col-l-4 {
    width: 66.64%; } }

@media only screen and (min-width: 1280px) {
  .col-l-3 {
    width: 49.98%; } }

@media only screen and (min-width: 1280px) {
  .col-l-2 {
    width: 33.32%; } }

@media only screen and (min-width: 1280px) {
  .col-l-1 {
    width: 16.66%; } }

/*# sourceMappingURL=style.css.map */
